appnope==0.1.0
backcall==0.1.0
certifi==2018.11.29
chardet==3.0.4
cymem==2.0.2
cytoolz==0.9.0.1
de-core-news-sm==2.0.0
decorator==4.3.2
dill==0.2.9
en-core-web-sm==2.0.0
idna==2.8
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.2
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.1
numpy==1.16.1
parso==0.3.2
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
plac==0.9.6
preshed==2.0.1
progressbar==2.5
prompt-toolkit==2.0.8
ptyprocess==0.6.0
Pygments==2.3.1
regex==2018.1.10
requests==2.21.0
six==1.12.0
spacy==2.0.18
thinc==6.12.1
toolz==0.9.0
torch==1.0.0
torchtext==0.3.1
torchvision==0.2.1
tqdm==4.30.0
traitlets==4.3.2
ujson==1.35
urllib3==1.24.1
wcwidth==0.1.7
wrapt==1.10.11
